
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">


          <div class="col-lg-6 col-md-50 offset-lg-0 offset-md-3">

        

            <div class="card card-register">

              <div class="card-header">
                

                <h4 style="padding-top: 4%;" class="card-title">FORGOT PASSWORD</h4>
              </div>
              <div class="card-body">
                <form class="form" [formGroup]="form" (submit)="submit()">
                  <div style="margin-top: 30px;"
                       class="input-group"
                       >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-key-25"> </i>
                      </div>
                    </div>
                    <input class="form-control"
                           formControlName="password"
                           placeholder="Password"
                           type="password"
                           />
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <small style="color: #fe5d93;" *ngIf="form.get('password').invalid && form.get('password').touched" >
                        Please enter a valid Password
                      </small>
                    </div>
                  </div>

                  <div class="input-group"
                       >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-key-25"> </i>
                      </div>
                    </div>
                    <input class="form-control"
                           formControlName="confirmpassword"
                           placeholder="Confirm Password"
                           type="password"
                           />
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <small style="color: #fe5d93;" *ngIf="form.get('confirmpassword').value != form.get('password').value ">
                        Passwords does not match
                      </small>
                    </div>
                  </div>

                

                

                  <button [disabled]="!form.valid" class="w-100 btn btn-lg btn-primary" type="submit">Reset</button>
                  <alert [hidden]="!error">
                    Something went wrong! please try again
                  </alert>

                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
 
</div>
